// ignore node modules
node_modules

// ignore .env
.env

// ignore .env.local
.env.local

// ignore .env.development.local
.env.development.local

// pycache
__pycache__

//hackgt
hackgt

//hackgt/bin
hackgt/bin

//hackgt/lib/python3.12/site-packages
hackgt/lib/python3.12/site-packages

//hackgt/lib/python3.12/site-packages/col_full_test.py