// ignore node modules
node_modules

// ignore .env
.env
.venv
build/
uv.lock
*.DS_Store

// ignore .env.local
.env.local

// ignore .env.development.local
.env.development.local

// ignore outputs
nfl-field-mapper-mobile/backend/generated_content
nfl-field-mapper-mobile/backend/input_content
*__pycache__/